body{
    font-family: 'Source Sans Pro', sans-serif;
    background:linear-gradient(palegoldenrod,LightGoldenrodYellow);
}
/*----Ajuste cabeçalho -------------*/
#container-headeradjust{
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.capaimgadjust{
    width: 100%;
    height: 900px;
}
.container-logo{
    position: absolute;
    top: 0;
    padding: 10px;
}
.logotype{
    position: relative;
    width: 25%;
    margin: 3px 60px;
}
.logo-adjust{
    position: relative;
    color: papayawhip;
    font-size: 30px;
    margin: 10px 11px;
    
}
.container-navadjust{
    position: absolute;
    top: 400px;
    left: 30px;
    margin: 0 auto;
}
.navlistadjust{
    display: inline-flex;
    position: relative;
}
.navlistadjust li{
    margin: 5px 10px;
    font-size: 30px;
    color: black;
    padding: 3px;
    border: 3px solid gray;
    background: lightgrey;
    position: relative;
    border-radius: 20px;
    cursor: pointer;
    
}
li:hover {
    color: goldenrod;
}
a{
    text-decoration: none;
    color: inherit;
}
.sublistadjust{
    padding: 3px;
    margin: 1px auto;
    position: absolute;
    display: block;
}
.subitemlista .sublistadjust{
    display: none;
}
.subitemlista:hover .sublistadjust{
    display: block;
    cursor: pointer;
}
/*----Ajuste Layout Main-----*/

#valoresadjustdiv{
    position: relative;
    width: 95%;
    margin: 100px 10px;
}
.cointainer_valorestxt{
    font-size: 22px;
    position: relative;
    margin: 10px 70px;
}
.cointainer_valorestxt h1{
    font-size: 27px;
    font-weight: 600;
    margin: 10px auto;
}
.cointainer_valorestxt p{
    margin: 5px;
}
.valoresimgadjust{
    position: absolute;
    width: 25%;
    right: 0;
    top: -51px;
    transition: 1s;
    box-shadow: 4px 5px 0 0;
}
#container_quemsomos{
    position: relative;
    width: 95%;
    font-size: 21px;
    margin-top: 20%;
    text-align: end;
}
#container_quemsomos h1{
    font-size: 27px;
    font-weight: 600;
    margin: 10px auto;
    
}
#container_quemsomos p {
    margin: 5px;
    
}
.adjust_img_quemsomos{
    width: 24%;
    left: 70px;
    position: absolute;
    top: -56px;
    box-shadow: 0 10px 5px 0;
}
#adj_div_atendimento{
    position: relative;
    width: 95%;
    margin-top: 17%;
}
#Atendimento_adj{
    font-size: 20px;
    position: relative;
    margin: 140px 70px;
}
#Atendimento_adj h1{
    font-size: 27px;
    font-weight: 600;
    margin: 10px auto;
}
#Atendimento_adj p {
    margin: 5px;
}
.atd_perso{
    position: absolute;
    right: 0;
    top: -90%;
    width: 30%;
    box-shadow: 0 10px 5px 0;
}
#adj_reuniao{
    position: relative;
    width: 95%;
    font-size: 21px;
    margin-top: 17%;
}
.ambiente_reuniao{
    font-size: 20px;
    text-align: right;
    position: absolute;
    right: 0;
    top: 100px;

}
.ambiente_reuniao h1{
    font-size: 27px;
    font-weight: 600;
}
.ambiente_reuniao p {
    margin:5px;
}
.adj_img_reuniao{
    width: 40%;
    position: relative;
    margin: 10px 70px;
    box-shadow: 5px 5px 0 0;
}
/*------------ajuste rodape-----------*/
#ajuste_rodape {
    position: relative;
    width: 95%;
    margin: 150px 10px;
    border-top: 3px solid goldenrod;
}
.adj_map{
    border: 0;
    width: 10%;
    height: 200px;
    box-shadow: 5px 5px 0 0;
}
.adj_fotopredio{
    position: absolute;
    left: 20%;
    top: 1%;
    
}
.fotopredio{
    width: 28%;
    box-shadow: 5px 5px 0 0;
}
.adj_infosend{
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 5px;
    right: 10%;
}
.adj_infosend::first-line{
    font-weight: bold;
}
.adj_infosend p {
    margin: 6px;
}
.logotype_footer{
    width: 13%;
    margin: 3px 60px;
}
.logo-adjust_footer{
    color: goldenrod;
    font-size: 23px;
    margin: 10px 11px;
}
.container-logo-foot{
    position: absolute;
    top: 5px;
    padding: 10px;
    left: 45%;
}
.copyright{
    position: absolute;
    bottom: -135px;
}